body{
    background-color: rgb(182, 220, 231);
    background-image: url("music2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:overlay;
    margin: 0;
    padding: 0;
}


.image{
    image: url("logo.png");
    height: 150px;
    background-repeat: no-repeat;
    margin-bottom: 100px;

}
#h1{
    position: relative;
    top: 300px;
    margin-left: 450px;
    
}
#search{
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 5px;
    width: 300px;

}
.button{
    padding: 7px;
    width: 190px;
    position: relative;
    left: 40px;
}
#searchForm{
    
    position: absolute;
    top: 370px;
    left: 37%;
    
    
}
.Background{
    background-color: rgb(128, 167, 179);
    opacity: 0.5;
   width: 400px;
   height: 350px;
}
.Information{
    
    padding: 25px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;

}
#img{
    margin-right: 100px;
    margin-bottom:45px; 
   
}
#header{
    text-align: center;
    font-family:  'Abel', sans-serif;
    font-size: 29px;
}
.Background1{
    background-color: rgb(128, 167, 179);
    opacity: 0.5;
   width: 800px;
 
   margin-left: 150px;
   padding: 30px;
}
.discription{
    padding: 25px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
   
}
.Table1, .Table2{
    vertical-align: top;
}